body {
    margin: 0;
}

div {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 50px;
    background-color: red;
    border-color:yellow;
}

p .red

div .red

.red

#left {
    background-color: black;
}

#right {
    background-color: blue;
}

